
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cairo-Regular';
  src: url('../assets/fonts/Cairo/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo-Bold';
  src: url('../assets/fonts/Cairo/Cairo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Cairo-Regular', sans-serif;
}
